<div class="panel-group">

    {{#each seasons}}
        {{#if this}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse{{@key}}">Season #{{@key}}</a>
                    </h4>
                </div>
                <div id="collapse{{@key}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{#each this}}
                            {{#with this}}
                                <a href="{{viewUrl}}" class="item">
                                    <img src="{{img}}" alt="{{name}}"/>
                                </a>
                            {{/with}}
                        {{/each}}
                    </div>
                </div>
            </div>
        {{else}}
            <p id="elem-{{@key}}"><a href="#" onclick="load({{@key}}, event)">Season #{{@key}}</a></p>
        {{/if}}

    {{/each}}
</div>
<style>
    .panel-body {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        width: 25%;
        padding: 20px;
    }

    .item img {
        max-width: 100%;
    }
</style>

