<div class="container">
    <a href="/all">Home</a>
    {{name}}

    {{#if next}}
        <a href="{{next}}">Next</a>
    {{/if}}
    <embed src="/video/{{season}}/{{series}}">
    <!--<video width="400" controls>-->
        <!--<source src="/video/{{season}}/{{series}}" type="video/mp4">-->
        <!--Your browser does not support HTML5 video.-->
    <!--</video>-->

</div>
